@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
  scroll-behavior: smooth;
}
.container {
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

body {
  background-color: #040c18;
}

.toggle-button {
  display: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 70px 0px;

  .links {
    position: relative;
    display: flex;
    gap: 50px;
    align-items: center;

    li {
      list-style: none;

      a {
        text-decoration: none;
        color: #fff;
        font-size: 18px;
      }

      a:hover {
        border-bottom: 3px solid #ff4820;
      }
    }
  }

  .navbar__btns button {
    padding: 16px 45px;
    border: none;
    color: #fff;
    background-color: transparent;
    transition: 0.4s ease-in;
    font-size: 18px;
  }

  .navbar__btns button:hover {
    background-color: #ff4820;
    border-radius: 5px;
    cursor: pointer;
  }
}
.main_content {
  background-color: #040c18;
  padding-bottom: 125px;
}

.main {
  display: flex;
  align-items: center;

  .main__left h1 {
    margin-bottom: 50px;
    font-size: 65px;
    background: -webkit-linear-gradient(
      rgb(250, 103, 238, 1),
      rgb(250, 103, 100, 1)
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .main__left p {
    font-size: 20px;
    color: #81afdd;
    margin-bottom: 50px;
  }

  .main__input {
    display: flex;
    align-items: center;
  }

  .main__input input {
    width: 473px;
    height: 73px;
    border: none;
    outline: 0;
    background-color: #052d56;
    padding-left: 20px;
    color: #fff;
  }

  .main__input button {
    padding: 23px 34px;
    background-color: #ff4820;
    color: #fff;
    font-size: 20px;
    border: none;
    font-weight: bold;
  }

  .main__right img {
    width: 500px;
    animation: rotate 2.5s;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.main__logos {
  margin-top: 200px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}
.gpt {
  padding: 60px;
  background-image: url(../images/Ellipse\ 39.png),
    url(../images/Ellipse\ 40.png);
  background-repeat: no-repeat;
  background-position-y: 265px, 1px;
  background-position-x: 750px, 1px;
  background-color: #042c54;

  .gpt__second {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 90px 0px;
  }

  .gpt__second h1 {
    font-size: 45px;
    background: -webkit-linear-gradient(
      rgb(250, 103, 238, 1),
      rgb(250, 103, 100, 1)
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .gpt__second p {
    color: #ff8a71;
    font-size: 16px;
  }

  .gpt__third {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .third__box h4 {
      font-size: 24px;
      color: #fff;
      margin-bottom: 45px;
    }

    .third__box p {
      color: #81afdd;
      font-size: 16px;
      width: 333px;
    }
  }
}

.gpt__first {
  display: flex;
  justify-content: space-between;
}

.gpt__first h4 {
  font-size: 24px;
  color: #fff;
}

.gpt__first p {
  font-size: 16px;
  color: #81afdd;
}
.apps {
  margin: 100px 0px;

  .apps__wrap {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  .apps__content {
    h6 {
      color: #fff;
      font-size: 16px;
      margin-bottom: 20px;
    }

    h1 {
      font-size: 34px;
      background: -webkit-linear-gradient(
        rgb(250, 103, 238, 1),
        rgb(250, 103, 100, 1)
      );
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    p {
      color: #81afdd;
      margin: 20px 0px;
    }

    a {
      text-decoration: none;
      color: #ff8a71;
    }
  }
}
.register {
  margin-bottom: 150px;
  background: -webkit-linear-gradient(
    rgb(173, 103, 250, 1),
    rgb(215, 132, 164, 1)
  );
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 40px;
  border-radius: 10px;

  .register__button button {
    background: #000;
    color: #fff;
    padding: 16px 40px;
    border-radius: 40px;
    border: none;
    outline: 0;
    font-weight: bold;
  }
}

.blog {
  .blogwrap {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 150px;
  }

  h1 {
    font-size: 62px;
    margin-bottom: 120px;
    background: -webkit-linear-gradient(
      rgb(250, 103, 238, 1),
      rgb(250, 103, 100, 1)
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .first__blog {
    background: #042c54;
    width: 417px;
    height: 617px;
    display: flex;
    flex-direction: column;

    span {
      color: #fff;
      margin-top: 24px;
      padding-left: 20px;
    }

    h3 {
      padding-left: 20px;
      color: #fff;
    }

    a {
      padding-left: 20px;
      color: #fff;
      margin-top: 160px;
    }
  }

  .blog__boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;

    .box {
      display: flex;
      flex-direction: column;

      .box__content {
        background: #042c54;
        padding: 18px;

        span {
          color: #fff;
          font-size: 11px;
        }

        h3 {
          color: #fff;
          font-size: 19px;
        }

        a {
          color: #fff;
          font-size: 11px;
        }
      }
    }
  }
}
